/* Header */
.heading {
    text-align: center;
    letter-spacing: 6px;
    font-size: 160%;
    background-color: blue;
    border-style: dotted;
    border-color: white;
    border-width: 10px 10px 10px 10px;
    border-radius: 20%;
}

/* Question Container */
body {
    font-size: 140%;
    letter-spacing: 4px;
    color: #ffff00;
    background-color: #000000;
}

#question-container {
    text-align: center;
}

/* Game Area */
.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px;
}

button {
    border: 6px dotted white;
    border-radius: 10%;
    padding: 10px 5px;
    font-size: 120%;
    letter-spacing: 2px;
}

#A {
    background-color: blue;
    color: yellow;
}

#A:hover {
    background-color: black;
    color: blue;
}


#B {
    background-color: blue;
    color: yellow;
}

#B:hover {
    background-color: black;
    color: blue;
}

#C {
    background-color: blue;
    color: yellow;
}

#C:hover {
    background-color: black;
    color: blue;
}

#D {
    background-color: blue;
    color: yellow;
} 

#D:hover {
    background-color: black;
    color: blue;
}

/* Reset Button */

.reset {
    padding-left: 43%;
    padding-top: 3%;
}
.reset-button {
    border: 6px dotted white;
    border-radius: 10%;
    padding: 0px 20px 0px 20px;
    text-align: center;
    font-size: 100%;
    background-color: blue;
    color: yellow;
}

.reset-button:hover {
    background-color: black;
    color: blue;
}


/* Score Board */
p {
    text-align: center;
    clear: both;
    font-size: 120%;
}

/* Logo */

#logo {
    padding-left: 25%;
}

#image {
    background: url('../images/millionaire-logo.jpg') no-repeat center center;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .reset {
        padding-left: 40%;
        padding-top: 3%;
    }
}

@media screen and (max-width: 992px) {   
    .reset {
        padding-left: 40%;
        padding-top: 3%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 100%;
        letter-spacing: 2px;
    }         
    
    #logo {
        float: right;
        margin-left: 15%;
    }

    .reset {
        padding-left: 38%;
        padding-top: 3%;
    }
}

@media screen and (max-width: 576px) {   
    
    #logo {
            padding-left: 60px;
        }

    .reset {
        padding-left: 37%;
        padding-top: 3%;
    }
}