/* Header */
.heading {
    text-align: center;
    letter-spacing: 6px;
    font-size: 200%;
    border-style: solid;
    border-color: black;
    border-width: 10px 10px 10px 10px;
    border-radius: 20%;
}

/* Button text */
body {
    font-size: 140%;
    letter-spacing: 4px;
}

/* Question Container */
#question-container {
    text-align: center;
}

/* Score Board */
h3 {
    text-align: center;
}
